/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  font-family: Arial, sans-serif;
  background:linear-gradient(to right, #ff8177 0%,#ff8c7f 12% , #ff8c7f 32%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,3,3,3);
  text-align: center;
  width: 300px;
}

h1 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.display {
  background: #f1f1f1;
  padding: 15px;
  font-size: 24px;
  text-align: right;
  border-radius: 8px;
  margin-bottom: 15px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  background-color: #ff8c7f ;
  color: white;
  font-size: 18px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color:#b12a5b ;
}
